.divppal { 
    background-color: #000;
}

.banner { 
    width: 100%;
    height: 600px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    margin-right: 1em;
}

#logoAP {
    width: 150px;
}

.logored { 
    width: 50px;
    
}

.redes .btn {
    border-width: medium;
    margin-left: 0.5em;
}

.banner-button{
    display:inline-block;
    position:relative;
}

.banner-button button{
    position: absolute;
    top: 2em;
    right:2em;
    text-align: center;
    width: 3em;
    height: 3em;
    }

/*-- Para la vista de celular --*/
@media (max-width: 575px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes, .logored {
        margin: 0.2em;
    }
}