.gradient-custom {
    /* fallback for old browsers */
    background: rgb(255, 123, 0);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 123, 0, 1), rgb(232, 181, 72, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 123, 0, 1), rgba(232, 181, 72, 1))
    }