<div class="row pagina">
    <div class="margen">
        <div class="container" *ngIf="proy">
            <div *ngIf="isLogged == false">
                <app-error404></app-error404>
            </div>
            <div *ngIf="isLogged == true">
                <div class="titulo">
                    <h1>Editar Proyecto</h1>
                </div>
                <div class="contenido">
                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                        <div class="form-group">
                            <label for="nombreP"><b>Nombre del Proyecto</b></label>
                            <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="proy.nombreP" required>
                        </div>
                        <div class="form-group">
                            <label for="descripcionP"><b>Descripción del Proyecto</b></label>
                            <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="proy.descripcionP" required>
                        </div>
                        <div class="form-group">
                            <label for="fechaP"><b>Fecha de realización del proyecto</b></label>
                            <input type="text" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="proy.fechaP" required>
                        </div>
                        <div class="form-group">
                            <label for="linkP"><b>Link del proyecto</b></label>
                            <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="proy.linkP" required>
                        </div>
                        <div class="form-group">
                            <label for="imagenP"><b>Imagen Del Proyecto</b></label>
                            <input type="file" class="form-control" id="imagenP" name="imagenP" (ngModel)="proy.imagenP" 
                            (change)="uploadImage($event)"
                            accept=".jpg, .jpeg, .png">
                        </div>
                        <br>
                        <div class="imagen">
                            <img [src]="proy.imagenP" width="200px" alt="Imagen Proyecto" *ngIf='imageServiceLogoP.url == ""'>
                            <img [src]="imageServiceLogoP.url" width="200px" alt="Imagen Proyecto" *ngIf='imageServiceLogoP.url != ""'>
                        </div>
                        <br>
                        <div class="boton">
                            <button class="btn btn-dark">Guardar</button>
                        </div>
                    </form>
                    <br>
                    <div class="boton">
                        <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>