<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreP">Nombre del Proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="form-group">
                    <label for="descripcionP">Descripción del Proyecto</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <div class="form-group">
                    <label for="imagenP">URL de Imagen del Proyecto</label>
                    <input type="text" class="form-control" id="imagenP" name="imagenP" [(ngModel)]="imagenP" required>
                </div>
                <div class="form-group">
                    <label for="fechaP">Fecha de realización del proyecto</label>
                    <input type="date" class="form-control" id="fechaP" name="fechaP" [(ngModel)]="fechaP" required>
                </div>
                <button class="btn btn-primary">Agregar Proyecto</button>
            </form>
        </div>
    </div>
</div>