<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <div class="proyecto">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Desarrolo de impresora 3D Cartesiana</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Eligendi totam perferendis ipsa voluptates 
                quia eaque culpa doloribus cum! Numquam, ipsum? 
                Dolores maxime accusantium tenetur, aut cum fuga 
                quod possimus suscipit?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/Impresora-cartesiana.jpg" 
                alt="Impresora Cartesiana"
                class="img-fluid img-proyecto">
            </div>    
        </div>
        <div class="proyecto">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Desarrolo de impresora 3D CoreXY</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Eligendi totam perferendis ipsa voluptates 
                quia eaque culpa doloribus cum! Numquam, ipsum? 
                Dolores maxime accusantium tenetur, aut cum fuga 
                quod possimus suscipit?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/Impresora-corexy.jpg" 
                alt="Impresora Cartesiana"
                class="img-fluid img-proyecto">
            </div> 
        </div>
    </div>
</div>