.hysskill {
    
    margin: 2em;

}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido {
    padding: 30px;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow:  5px 5px 5px black;
}

.titulo {
    padding: 0;
    margin: 0;
    
}

h1 {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    box-shadow:  5px 5px 5px black;
}

h2 {
    display: inline;
}

.btnedit {
    height: 3em;
    width: 3em;
}

.btndel {
    height: 3em;
    width: 3em;
}