.row {
    padding: 0px;
    background-color: black;
    color: #fff;
    border-bottom-left-radius: 4em;
    border-bottom-right-radius: 4em;
    margin:0%;
}

div {
    text-align: center;
}

.acercade {
    position: relative;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center
}

.btneditpers {
    position: absolute;
    text-align: center;
    width: 3em;
    height: 3em;
    top: -1em;
    right: 1.5em;
}

.contnomb{
    display: flex;
    justify-content: center;
    align-items: center;;
}

#fotodeperfil {
    position: absolute;
    left: 20%;
    bottom: -8em;
    border-radius: 15%;
    border: 0.75em solid black;
}

.contimg {
    
    position: relative;
}

@media (min-width: 576px) {
    .contimg {
        height: 16%;
        width: 16%;
    }

    .row{
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

@media (max-width: 575px) {
    #fotodeperfil {
        width: 40%;
        bottom: -9em;
        left:30%;
        border: 0.75em solid black;
    }
   
    .row {
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;
    }

    
    .contnomb {
        margin-top: 12em;
    }
}

@media (max-width: 800px) {
    .mipersona {
        padding-top: 3em;
        padding-bottom: 2em;
    }
}

@media (min-width: 576px) and (max-width: 800px) {
    
    #fotodeperfil {
        bottom: -13.5em;
    }
}

