<div class="container" *ngIf="educ">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Nombre de la Institución</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="educ.nombreEdu" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEdu">Descripción de sus estudios</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="educ.descripcionEdu" required>
                </div>
                <div class="form-group">
                    <label for="fechaInicioEdu">Fecha de Inicio de Estudios</label>
                    <input type="text" class="form-control" id="fechaInicioEdu" name="fechaInicioEdu" [(ngModel)]="educ.fechaInicioEdu" required>
                </div>
                <div class="form-group">
                    <label for="fechaFinEdu">Fecha de Finalización de Estudios</label>
                    <input type="text" class="form-control" id="fechaFinEdu" name="fechaFinEdu" [(ngModel)]="educ.fechaFinEdu" required>
                </div>
                <div class="form-group">
                    <label for="logoEdu">Logo de la Institución</label>
                    <input type="file" class="form-control" id="logoEdu" name="logoEdu" (ngModel)="educ.logoEdu" 
                    (change)="uploadImage($event)"
                    accept=".jpg, .jpeg, .png">
                </div>
                <div class="imagen">
                    <img [src]="imageServiceLogo.url" width="200px" alt="Logo Institucion">
                </div>
                <!--<div class="form-group">
                    <label for="logoEdu">URL del logo de la Institución</label>
                    <input type="text" class="form-control" id="logoEdu" name="logoEdu" [(ngModel)]="educ.logoEdu" required>
                </div>-->
                <button class="btn btn-primary">Actualizar Educación</button>
            </form>
        </div>
    </div>
</div>